.right__SideBar{
    width: 100%;
     /* padding-top: 40px;
    padding-bottom: 85px; */
}
.title{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.214;
    letter-spacing: 0.04em;
    color: #212121;
    margin: 0;
    padding-bottom: 20px;
}
.list{
    list-style: none;
    width: 290px;
    margin: 0;
    padding: 0;
}
.list__item_text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 2.142;
    letter-spacing: 0.04em;
    color: #9B9FAA;
    margin: 0;
}
.list__item_text_right{
    float: right;
}
.block__right{
    margin-top: 20px;
}
@media screen and (min-width: 768px) {
    .right__SideBar{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding-bottom: 0;
    }
    .bgImageLogin{
        width: 100%;
        height: 100%;
    }
    .block__left{
        width: 290px;
    }
    .block__right{
        width: 270px;
        margin-top: 0;
    }
}
  @media screen and (min-width: 1280px) {
    .right__SideBar{
        /* width: 330px; */
        /* padding-top: 292px; */
        flex-wrap: wrap;
        /* padding-left: 90px;
        padding-right: 115px; */
        /* padding-bottom: 85px; */
    }
    .block__right{
        margin-top: 60px;
    }
  }