.block {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .currentDate__wrapper {
    background-color: #fff;
    padding: 40px 0 60px;
    width: 100%;
  }
  
  @media (min-width: 768px) {
    .block {
      display: flex;
      flex-wrap: wrap;
    }
    .currentDate__wrapper {
      padding: 100px 0 60px;
    }
  }
  @media (min-width: 1280px) {
    .block {
      flex-wrap: nowrap;
    }
    .currentDate__wrapper {
      padding: 292px 30px 60px 115px;
    }
  }