
.main__log {
  /* overflow: hidden; */
  width: 100%;
  padding-top: 40px;
}
/* .bgImg {
  display: none;
 
} */


@media (min-width: 768px) {
  .main__log {
    /* overflow: hidden; */
    width: 100%;
    padding-top: 190px;
  }
  .bgImg {
    /* z-index: -1;
    position: absolute; */
    /* background-size: 100%; */
    /* width: 720px;
    height: 100vh; */
    /* background-size: 100%; */
    /* right: 0; */
    background-image: url(./img/PhotoForTablet.png);
    z-index: -1;
    position: absolute;
    background-size: contain;
    width: 100%;
    height: 100%;
    background-position: right bottom;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
  }
}

@media (min-width: 1280px) {
  .main__log {
    /* overflow: hidden; */
    width: 100%;
    padding-top: 244px;
  }
  .bgImg {
    background-image: url(./img/PhotoForDesktop.png);
  }
}
