
.page__wrapper {
  padding: 40px 0;
}

.sideBar__wrapper {
  position: absolute;
  width: 100%;
  height: auto;
  right: 0;
  bottom: 0;
  padding: 0 15px;
}
@media (min-width: 768px) {
  .page__wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .diaryItems__wrapper {
    padding-bottom: 460px;
  }
}
@media (min-width: 1280px) {
  .page__wrapper {
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  .diaryItems__wrapper {
    padding-bottom: 100px;
  }
}
