.block {
  padding: 15px 0;  /*бокові паддінги дублюють стилі контейнера, тому додала 0*/
  float: left;
}
.title {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.444;

  color: #212121;
  margin: 0;

  padding-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .block {
    width: 565px;
    padding: 0;
  }
  .title {
    font-size: 30px;
    line-height: 1.2;
    padding-bottom: 50px;
  }
}
@media screen and (min-width: 1280px) {
  .block {
    width: 605px;
 }
  .title {
    font-size: 34px;
    line-height: 1.205;
    padding-bottom: 68px;
  }
}
