.main__log {
  overflow: hidden;
  width: 100%;
}

.bgImg {
  z-index: 1;
  position: absolute;
  background-size: 100%;
  width: 900px;
  height: 100vh;
  background-size: 1006px 100%;
  right: 0;
  bottom: 0;
  background-image: url(./img/main-img.svg);
}

@media (max-width: 768px) {
  .bgImg {
    z-index: 1;
    position: absolute;
    background-size: 100%;
    width: 720px;
    height: 100vh;
    background-size: 752px 1024px;
    right: 0;
    background-image: url(./img/bg-tablet.svg);
  }
}

@media (max-width: 480px) {
  .bgImg {
    display: none;
  }
}
