.header {
  width: 100%;
  height: 80px;

  display: flex;
  align-items: center;
}

.btn {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}
.btn:focus {
  outline: none;
}

@media screen and (min-width: 1280px) {
  .header {
    margin-top: 82px;
    padding-left: 90px;
    padding-right: 115px;
position: fixed;
    align-items: center;
    justify-content: space-between;
  }
  .logo {
    padding-bottom: 47px;
  }
}

@media screen and (max-width: 1279px) {
  .header {
    border-bottom: 2px solid #e0e0e0;
    justify-content: space-between;

    background-color: #fff;
  }

  .navBar {
    width: 100%;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .header {
    padding-left: 69px;
    padding-right: 87px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.body {
  overflow: hidden;
}

.userBar {
  display: flex;
}

.navBar {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
