.dailyCalorieIntake {
  text-align: center;

  padding-top: 64px;
  padding-bottom: 68px;
}

.title {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.23;

  color: #212121;

  margin-top: 0;
  margin-bottom: 22px;
}

.ccal {
  font-size: 48px;
  line-height: 1.2;
}

.info {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.04em;

  color: #264061;

  margin-top: 0;
  margin-bottom: 30px;
}

.mustntEatDiv {
  border-top: 1px solid #e0e0e0;
  padding-top: 12px;

  width: 330px;
  margin-left: auto;
  margin-right: auto;

  text-align: left;
}

.mustntEat {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.04em;

  color: #212121;

  margin-top: 0;
  margin-bottom: 22px;
}

.list {
  margin-top: 0;
  margin-bottom: 40px;

  padding-left: 20px;

  font-weight: normal;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.04em;

  color: #9b9faa;
}

.list > li {
  margin-top: 0;
}

.list > li:not(:last-child) {
  margin-bottom: 14px;
}

.btn {
  display: block;
  margin-left: auto;
  margin-right: auto;

  min-width: 176px;
  min-height: 44px;

  padding: 13px 26px;

  background: #fc842d;
  border-radius: 30px;

  border: 2px solid transparent;
  cursor: pointer;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  letter-spacing: 0.04em;

  color: #ffffff;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:focus {
  outline: none;
}

.btn:focus,
.btn:hover {
  background-color: #ffffff;
  color: #fc842d;
  border: 2px solid #fc842d;
  box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);
}
