.container {
  /* margin: 0 auto; */
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    position: relative;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding-left: 87px;
    padding-right: 87px;
    width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    padding-left: 115px; /*замінила згідно макету*/
    padding-right: 115px; /*замінила згідно макету*/
    /* padding-left: 90px;
    padding-right: 90px; */
    width: 1280px;
    position: unset;
  }
}
