.diaryAddProductForm {
  position: relative;
  display: flex;
  padding-top: 80px;

}

.diaryAddProductForm_label {
  position: relative;
  display: block;
  margin-right: 31px;
}

.diaryAddProductForm_inputProduct,
.diaryAddProductForm_inputGrams{
  display: block;
  border: none;
  border-bottom: 1px solid #E0E0E0;
  padding: 10px 5px;
  min-width: 100%;
  outline: none;
}
.diaryAddProductForm_inputProduct:focus,
.diaryAddProductForm_inputGrams:focus{
  border-bottom: 1px solid #9B9FAA;
}

.diaryAddProductForm_inputProduct {
  position: relative;
  text-overflow: ellipsis;
}

.diaryAddProductForm_inputProduct::placeholder,
.diaryAddProductForm_inputGrams::placeholder {
  font-family: Verdana;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
  color: #9B9FAA;
 text-overflow: clip;

}

.diaryAddProductForm_button {
  display: block;
  font-family: Verdana;
  font-style: normal;
  font-weight: bold;
  align-items: center;
  text-align: center;
  background: #FC842D;
  border: none;
  box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);   
  color: #FFFFFF;
  outline: none;
}

.diaryAddProductForm_button:focus,
.diaryAddProductForm_button:hover{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.searchProducts_wrapper {
  height: 200px;
}

.selectWrapper {
  position: absolute;
  border: 1px solid rgb(145, 144, 144);
  border-radius: 3px;
}

.selectWrapper:hover {
  box-shadow: 0px 0px 3px rgb(145, 144, 144);
}

.selectWrapper select {
  width: 300px;
  height: 28px;
  padding: 0 20px 0 7px;
  border: 0;
}

.clearInputText {
  position: absolute;
  /* top:0;
  right: -13px; */
  top: 7px;
  right: 3px;
  color: #9B9FAA;
}


@media screen and (max-width: 767px) {
  .diaryAddProductForm {
  flex-direction: column;
}
  .diaryAddProductForm_button {
    margin: 0 auto;
    padding: 13px 46px;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.04em;
    width: 176px;
    height: 44px;
    border-radius: 30px;
    margin-top: 30px;
  }

.diaryAddProductForm_label {
  padding-bottom: 30px;
}

.diaryAddProductForm_button {
  margin: 0 auto;
  padding: 13px 46px;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
  width: 176px;
  height: 44px;
  border-radius: 30px;
  margin-top: 30px;
  
}
  .diaryAddProductForm_inputGrams,
  .diaryAddProductForm_inputProduct {
    width: 289px;
    font-size: 14px;
  }
  .selectWrapper {
    top: 118px
  }

}

@media screen and (min-width: 768px) {
  .diaryAddProductForm {
    align-items: self-start;
    /* justify-content: space-between; */
    width: 524px;
    padding-top: 0; /* додала для перегляду*/
    
  }
  .clearInputText {
  
    top:0;
    right: -13px;
   
  }

  .diaryAddProductForm_wrapper{
    margin-bottom: 60px;
  }

  .diaryAddProductForm_button {
    box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);
    border-radius: 50%;
    padding: 0;
    width: 50px;
    height: 50px;
    background-image: url('./images/plus1.png');
    background-repeat: no-repeat;
    background-position: center;
  }

  .diaryAddProductForm_inputGrams {
    text-align: center;
    width: 105px;
    font-size: 16px;
  }

  .diaryAddProductForm_inputGrams::placeholder{
    text-align: end;
  }

  .diaryAddProductForm_inputProduct{
    width: 292px;
    font-size: 16px;
  }

}

@media screen and (min-width: 1280px) {
  .diaryAddProductForm_inputProduct,
  .diaryAddProductForm_inputGrams{
    font-size: 18px;
  }

  .diaryAddProductForm_inputProduct{
    width: 305px;
  }
}