.diaryAddProductForm {
 display: flex;
/* padding-top: 50px; */
padding-top: 80px;

}

.diaryAddProductForm_label {
  display: block;
}

.diaryAddProductForm_inputProduct,
.diaryAddProductForm_inputGrams{
  display: block;
  border: none;
  border-bottom: 1px solid #E0E0E0;
  padding: 10px 5px;
  min-width: 100%;

}

.diaryAddProductForm_inputProduct::placeholder,
.diaryAddProductForm_inputGrams::placeholder {
  font-family: Verdana;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
  color: #9B9FAA;
}

.diaryAddProductForm_inputProduct {
  width: 239px;
}

.diaryAddProductForm_inputGrams {
  width: 105px;

}


.diaryAddProductForm_button {
  display: block;
  font-family: Verdana;
  font-style: normal;
  font-weight: bold;
  align-items: center;
  text-align: center;
  background: #FC842D;
  border: none;
  box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);   
  color: #FFFFFF;
}

.diaryAddProductForm_button:focus,
.diaryAddProductForm_button:hover{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.searchProducts_wrapper {
  height: 200px;
}


#content {
  width: 300px;
  margin: 20px auto;
  padding: 10px;
  border: 1px dotted rgb(145, 144, 144);
}

.selectWrapper {
  position: relative;
  width: 300px;
  margin: 20px 0;
  border: 1px solid rgb(145, 144, 144);
  border-radius: 3px;
}

.selectWrapper:hover {
  box-shadow: 0px 0px 3px rgb(145, 144, 144);
}

.selectWrapper select {
  width: 300px;
  height: 28px;
  padding: 0 20px 0 7px;
  background: transparent;
  border: 0;
  appearance: none; 

}

.selectArrow_3 {
  position: absolute;
  z-index: -9999;
  border: 8px solid transparent; 
  border-bottom: 0;
  right: 6px;
}
.selectArrow_3:nth-child(1) {
  top: 11px;
  border-top-color: rgb(145, 144, 144);
}
.selectArrow_3:nth-child(2) {
  top: 8px;
  border-top-color: #FFF;
}

/* =================================================== */
@media screen and (max-width: 767px) {
  .diaryAddProductForm {
  flex-direction: column;
}
  .diaryAddProductForm_button {
    margin: 0 auto;
    padding: 13px 46px;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.04em;
    width: 176px;
    height: 44px;
    border-radius: 30px;
    margin-top: 30px;
    
  }

  .diaryAddProductForm_label {
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .diaryAddProductForm {
    align-items: self-start;
    justify-content: space-between;
    min-width: 473px;
  }
  

  .diaryAddProductForm_button {
    box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);
    border-radius: 50%;
    padding: 0;
    width: 50px;
    height: 50px;
    background-image: url('./images/plus1.png');
    background-repeat: no-repeat;
    background-position: center;
  }

  .diaryAddProductForm_inputGrams {
    text-align: end;

  }


}