.section{
    display: flex;
    flex-direction: column;
}

.label + .label{
margin-top: 40px;
}

.title{

    font-family: "Gotham Pro";
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 13px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: #FC842D;
}

.form{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}
.input__title{

    font-family: Verdana;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.04em;

    color: #9B9FAA;
}

.input {
    border: none;
    border-bottom: 1px solid #E0E0E0;
    width: 100%;
}

.input_err {
    border: none;
    border-bottom: 1px solid red;
    width: 100%;
}

.contaner__err{
    position: relative;
}
.err__message{
    position: absolute;
    top: -14px;
    left: 0;
    font-family: Verdana;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.04em;

    color: red;
}

.con__btns{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 60px;
    align-items: center;
}

.login__btn{
    width: 176px;
    height: 44px;

    padding: 13px 63px;
    font-family: Verdana;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;

    background: #FC842D;
    border: 2px solid #FC842D;
    box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);
    border-radius: 30px;

    color: white;
}

.registration__btn{
    width: 176px;
    height: 44px;
    margin-top: 20px;

    background: #FFFFFF;
    border: 2px solid #FC842D;
    box-sizing: border-box;
    border-radius: 30px;

    padding: 13px 34px;

    font-family: Verdana;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;

    color: #FC842D;
}


/* 
768
1280 */

@media screen and (min-width: 768px) {
    .con__btns{
        flex-direction: row;
        justify-content: space-between;
    }
}

