.menu {
  position: relative;

  width: 100%;
  height: 40px;

  background-color: #eff1f3;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.btn {
  position: absolute;

  top: 50%;
  left: 15px;

  transform: translateY(-50%);

  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}
.btn:focus {
  outline: none;
}
